.tab_container{
	display: flex;
}

.tab_container div{
	flex: 1;
	background: grey;
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

.tab_container div button{
	margin-left: auto;
}

.tab_menu .list li.is_on .btn{
	font-weight: bold;
	color: green;
}

.tab_menu .list .btn{
	font-size: 13px;
}

.tab_menu .cont_area .cont{
	position: relative;
	top: 25px;
	left: 0;
	background: grey;
	color: white;
	text-align: center;
	width: 100px;
	height: 100px;
	list-style: 100px;
}